.anypopup-admin-header {
    margin-bottom: 20px;
}

.anypopup-admin-header h1 {
    display: inline-block;
    margin-right: 20px;
}

.anypopup-admin-header .button {
    margin-top: 5px;
}

.anypopup-table-wrapper {
    margin-top: 20px;
}